{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="root"></div>
    
    <script type="text/babel">
    
        class App extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    posts: [],
                    comments: {},
                    likedPosts: [],
                    followedPosts:[],
                    newPostContent: "",
                    newCommentContent: {},
                    username: "",
                    currentPostId: 1,
                };
            }

            componentDidMount() {
                fetch('/get_username')
                .then(response => response.json())
                .then(data => this.setState({ username: data.username }));

                fetch('/posts')
                .then(response => response.json())
                .then(data => {
                    const sortedData = data.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));
                    this.setState({ posts: sortedData });
                    
                    sortedData.forEach(post => {
                        fetch(`/comments?post_id=${post.id}`)
                        .then(response => response.json())
                        .then(data => {
                            this.setState(prevState => ({
                                comments: {
                                    ...prevState.comments,
                                    [post.id]: data,
                                }
                            }));
                        });
                    });

                    fetch('/liked_posts')
                    .then(response => response.json())
                    .then(data => this.setState({ likedPosts: data }))
                    .catch(error => console.error('Error fetching liked posts:', error));

                    fetch('/followed_posts')
                    .then(response => response.json())
                    .then(data => this.setState({ followedPosts: data }))
                    .catch(error => console.error('Error fetching liked posts:', error));
                });
            }

            handleInputChange = (event) => {
                this.setState({ newPostContent: event.target.value });
            }
            
            handleCommentChange = (event, post_id) => {
                this.setState(prevState => ({
                    newCommentContent: {
                        ...prevState.newCommentContent,
                        [post_id]: event.target.value
                    }
                }));
            };
            

            createPost = () => {
                fetch('/posts', {
                    method: 'POST',
                    body: JSON.stringify({
                        content: this.state.newPostContent
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    this.setState(prevState => ({
                        posts: [data, ...prevState.posts],
                        newPostContent: ""
                    }));
                    this.componentDidMount();
                });
            }

            createComment = (post_id) => {
                fetch('/comments', {
                    method: 'POST',
                    body: JSON.stringify({
                        content: this.state.newCommentContent[post_id],
                        post_id: post_id
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    this.setState(prevState => ({
                        comments: {
                            ...prevState.comments,
                            [post_id]: [data, ...(prevState.comments[post_id] || [])]
                        },
                        newCommentContent: ""
                    }));
                    this.componentDidMount();
                });
            }

            deleteComment = (comment_id) => {
                fetch(`/delete_comment/${comment_id}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    this.componentDidMount();
                });
            };
            

            likePost = (post_id) => {
                fetch(`/like_post/${post_id}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    this.componentDidMount();
                });
            }

            followUser = (user_id) => {
                if (user_id !== undefined) {
                    fetch(`/follow_user/${parseInt(user_id)}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        this.componentDidMount();
                    });
                } else {
                    console.error('User ID is undefined');
                }
            }

            filterLikedPosts = () => {
                fetch('/liked_posts')
                .then(response => response.json())
                .then(data => this.setState({ posts: data }));
            }

            filterFollowedPosts = () => {
                fetch('/followed_posts')
                .then(response => response.json())
                .then(data => this.setState({ posts: data }));
            }

            deletePost = (post_id) => {
                fetch(`/delete_post/${post_id}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    this.componentDidMount();
                });
            }

            render() {
                return (
                    <div>
                        <h1>All Posts</h1>
                        <button onClick={this.filterLikedPosts}>Show Liked Posts</button>
                        <button onClick={this.filterFollowedPosts}>Show Followed Posts</button>
                        <div class="feed">
                            <div class="feed__header">
                              <h2>Home</h2>
                            </div>
                      
                            <div class="tweetBox">
                              <form>
                                <div class="tweetbox__input">
                                  <img src="{% static 'network/logo.png' %}" alt="" />
                                  <input type="text" value={this.state.newPostContent} onChange={this.handleInputChange} placeholder="What's happening?" />
                                </div>
                                <button onClick={this.createPost} class="tweetBox__tweetButton">Tweet</button>
                              </form>
                            </div>
                            
                            {this.state.posts.map((post, index) => (
                                <div class="post" key={post.id}>
                                    <div class="post__avatar">
                                        <img src="{% static 'network/logo.png' %}" alt="" />
                                    </div>
                                    <div class="post__body">
                                        <div class="post__header">
                                            <div class="post__headerText">
                                                    <h3><a href={`/profile/${post.user__username}`}>{post.user__username}</a></h3>
                                            </div>
                                            <div class="post__headerDescription">
                                                <p>{post.content}</p>
                                            </div>
                                        </div>
                                        <div class="post__footer">
                                            {this.state.likedPosts.some(likedPost => likedPost.id === post.id) ? (
                                                <span class="material-icons">
                                                    <button onClick={() => this.likePost(post.id)} class="icons">
                                                        <img src="{% static 'network/heart2.png' %}" />{post.likes_count}
                                                    </button>
                                                </span>
                                            ) : (
                                                <span class="material-icons">
                                                    <button onClick={() => this.likePost(post.id)} class="icons">
                                                        <img src="{% static 'network/heart.png' %}" />{post.likes_count}
                                                    </button>
                                                </span>
                                            )}
                                            {this.state.followedPosts.some(followedPost => followedPost.id === post.id) ? (
                                                <span class="material-icons">
                                                    <button onClick={() => this.followUser(post.user__id)} class="icons">
                                                        <img src="{% static 'network/check.png' %}" />
                                                    </button>
                                                </span>
                                            ) : (
                                                <span class="material-icons">
                                                    <button onClick={() => this.followUser(post.user__id)} class="icons">
                                                        <img src="{% static 'network/add.png' %}" />
                                                    </button>
                                                </span>
                                            )}
                                            <span class="material-icons">
                                                {this.state.username === post.user__username && <button onClick={() => this.deletePost(post.id)} class="icons"><img src="{% static 'network/delete.png' %}" /></button>}
                                            </span>
                                        </div>
                                        <div>
                                            <h3>Comments</h3>
                                            <div>
                                                {Array.isArray(this.state.comments[post.id]) ? this.state.comments[post.id].map((comment, index) => (
                                                    <div key={index}>
                                                        <strong>{comment.user__username ? comment.user__username : 'Unknown'}</strong>: {comment.content}
                                                        {this.state.username === comment.user__username && (
                                                            <button onClick={() => this.deleteComment(comment.id)}>Delete</button>
                                                        )}
                                                    </div>
                                                )) : null}
                                            </div>
                                            {this.state.username ? (
                                                <div>
                                                    <input 
                                                        type="text" 
                                                        value={this.state.newCommentContent[post.id] || ''} 
                                                        onChange={(event) => this.handleCommentChange(event, post.id)} 
                                                        placeholder="Add a comment..."
                                                    />
                                                    <button onClick={() => this.createComment(post.id)}>Comment</button>
                                                </div>
                                            ) : (
                                                <p>You need to log in to comment.</p>
                                            )}
                                        </div>
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
                );
            }
        }

        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
{% endblock %}
